<div class="form-group has-feedback">
  <input type="text" class="form-control" data-warpjs-type="filter-box"
    placeholder="{{#if placeholder}}{{placeholder}}{{else}}Filter items{{/if}}" />
  <i class="glyphicon glyphicon-filter form-control-feedback"></i>
</div>
